# Practice Exercises for Single Table SQL

Given a dataset and a set of questions, form the queries to answer the questions. All questions in this particular exercise only require a query to a single table. 

⚠️ *Note:* Please display minimal number of attributes (columns) needed to make sense of your answer. Not too many, not too few.

## Setup
The SQLite database for these exercises has been setup for you. For the curious, you can look at this file for the DDL commands to setup the tables and insert data.  `db_illum_ddl_5_3.sql`

Here is the schema for the database. The arrows show foreign keys, which is just fyi for now. 

![worker_project schema](worker_project_schema.png)

In [2]:
# Make sure to always run this cell when you open this notebook
# Start the Jupyter SQL engine, connecting to a SQLite database 
%reload_ext sql 
%sql sqlite:///worker_project.db

0. In the command line, inspect the sqlite database (worker_project.db) to see what the tables and columns actually are. Any differences you observe? (Also, copy past your output in the cell below)

In [2]:
# There are some differences in the names of the columns in some tables from the Schema above 
# for example: the Worker tabel contains ( empId, lastName, firstName, deptName, birthDate, hireDate, salary) 
# while in the Schema (empId, empName, dateHired, birtdate, salary, depName)
# In the Project Table there is only difference in the naming of the expectedDurationWeeks column. In the Schema called expectedDuration 
# In Assing table there is only difference in the naming of the hoursAssigned column. In the Schema called hours.

1. Get the names of all workers in the Accounting department.

In [4]:
%%sql
SELECT firstName,lastName FROM Worker WHERE deptName == 'Accounting'

 * sqlite:///worker_project.db
Done.

[('Tom', 'Smith'), ('Mary', 'Jones'), ('Jane', 'Burns')]

2. Get the name of the employee in the Research department who has the lowest salary.

In [6]:
%%sql
SELECT firstName,lastName,salary FROM Worker ORDER BY Salary LIMIT 1

 * sqlite:///worker_project.db
Done.

[('Jane', 'Burns', 39000)]

3. Get the details of the project with the highest budget.

In [7]:
%%sql
SELECT * FROM Project ORDER BY budget DESC LIMIT 1;

 * sqlite:///worker_project.db
Done.

[(1025, 'Neptune', 110, 600000, '01-Feb-2021', 45)]

## The following questions may require more than one query to answer. 
Show your work! Add as many SQL cells as needed for each question. Use comments to indicate how the output of each query is used to arrive at your answer.

4. List out alphabetically the names of all workers working on Project 1001.

In [9]:
%%sql

SELECT firstName FROM worker WHERE empId IN (SELECT empId FROM Assign WHERE projNo == 1001) ORDER BY firstName

 * sqlite:///worker_project.db
Done.

[('Amanda',), ('Jane',), ('Mary',), ('Tom',)]

5. Get an alphabetical list of names and corresponding ratings for all workers on any project managed by Michael Burns.

In [5]:
%%sql

SELECT firstName, lastName, rating 
FROM Worker, 
     (SELECT empId, rating 
      FROM Assign 
      WHERE projNo IN 
          (SELECT projNo 
           FROM Project 
           WHERE projMgrId IN 
               (SELECT empId 
                FROM Worker 
                WHERE lastName = 'Burns' AND firstName = 'Michael') )) AS emp WHERE Worker.empId = emp.empId;

 * sqlite:///worker_project.db
Done.

[('Michael', 'Burns', 5),
 ('Amanda', 'Chin', 4),
 ('Michael', 'Burns', None),
 ('Michael', 'Burns', None)]

6. For all projects starting after Feb 1, 2022, find the project number and names of all workers assigned to them.

In [13]:
%%sql

SELECT projNo, firstName,lastName 
FROM(SELECT * FROM Assign 
WHERE projNo IN (SELECT projNo FROM project
  WHERE startDate > '01-Feb-2022')) as P
  INNER JOIN Worker ON Worker.empId == P.empId;

 * sqlite:///worker_project.db
Done.

[(1005, 'Mary', 'Jones'),
 (1019, 'Michael', 'Burns'),
 (1019, 'Amanda', 'Chin'),
 (1030, 'Michael', 'Burns')]

7. Find the names of employees who are not assigned as managers any project.

In [15]:
%%sql

SELECT firstName, lastName
FROM Worker 
WHERE empId NOT IN (SELECT projMgrId FROM Project)

 * sqlite:///worker_project.db
Done.

[('Mary', 'Jones'), ('Jane', 'Burns'), ('Amanda', 'Chin')]

8. Find details of any project with the string "urn" in the project name.

In [17]:
%%sql

SELECT * FROM Project 
WHERE projName LIKE '%urn'

 * sqlite:///worker_project.db
Done.

[(1005, 'Saturn', 101, 400000, '01-Jun-2022', 35)]

9. List out the projects from most to least efficient. (hint: the project with the lowest budget is not necessarily the one that uses time and human resources effectively.)

In [46]:
%%sql
SELECT *, (budget/expectedDurationWeeks) AS Dollar_per_week FROM Project Order by budget/expectedDurationWeeks

 * sqlite:///worker_project.db
Done.

[(1001, 'Jupiter', 101, 300000, '01-Feb-2021', 50, 6000),
 (1030, 'Pluto', 110, 380000, '15-Sep-2023', 50, 7600),
 (1019, 'Mercury', 110, 350000, '15-Feb-2022', 40, 8750),
 (1005, 'Saturn', 101, 400000, '01-Jun-2022', 35, 11428),
 (1025, 'Neptune', 110, 600000, '01-Feb-2021', 45, 13333)]

10. Explain your reasoning for your solution to #9 (use a Markdown cell), including who should get the award for Most Efficient Project Manager.

In [ ]:
I think the most efficient Project should be the one that has the least money spent per week. Tom Smith is the most efficient project manager

11. Bonus!!  A Query that you can't easily answer with just a set of queries: Get a list of project numbers with name and start dates, of all the projects that have the same start date as another. 
*you don't have to answer this, but think about it!*

In [45]:
%%sql
SELECT DISTINCT p1.projNo, p1.projName, p1.startDate
FROM PROJECT p1, PROJECT p2
WHERE p1.startDate = p2.startDate
AND p1.projNo != p2.projNo

 * sqlite:///worker_project.db
Done.

[(1001, 'Jupiter', '01-Feb-2021'), (1025, 'Neptune', '01-Feb-2021')]

## Submission:

Commit and push your changes to this document by the deadline, and share a link to the repository in the Moodle assignment.